{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FaceDetector</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">
    <script src="{% static 'js/htmx.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
    <link href="{% static 'js/timeline.js' %}" rel="stylesheet"/>
    <script type="text/javascript"
            src="https://unpkg.com/vis-timeline@latest/standalone/umd/vis-timeline-graph2d.min.js"></script>
    <link href="https://unpkg.com/vis-timeline@latest/styles/vis-timeline-graph2d.min.css" rel="stylesheet"
          type="text/css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>
<h1>Hello, world!</h1>
<div class="container">
    <div class="row justify-content-between">
        <div class="col-12">
            <div class="card widget-card border-light shadow-lg p-3 mb-5 bg-body rounded">
                <div class="card-body p-4">
                    <ul class="nav nav-tabs" id="profileTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="overview-tab" data-bs-toggle="tab"
                                    data-bs-target="#overview-tab-pane" type="button" role="tab"
                                    aria-controls="overview-tab-pane" aria-selected="true">Парсер
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                    data-bs-target="#profile-tab-pane" type="button" role="tab"
                                    aria-controls="profile-tab-pane" aria-selected="false">Акаунти
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="email-tab" data-bs-toggle="tab"
                                    data-bs-target="#email-tab-pane" type="button" role="tab"
                                    aria-controls="email-tab-pane" aria-selected="false">Історія
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="password-tab" data-bs-toggle="tab"
                                    data-bs-target="#password-tab-pane" type="button" role="tab"
                                    aria-controls="password-tab-pane" aria-selected="false">Password
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content pt-4" id="profileTabContent">
                        <!-- Tab Pane 1 -->
                        <div class="tab-pane fade show active" id="overview-tab-pane" role="tabpanel"
                             aria-labelledby="overview-tab" tabindex="0">
                            <h5 class="mb-3">Графік</h5>
                            <div class="card card-body">
                                <div>
                                    <span class="badge rounded-pill text-black" style="background-color: var(--bs-dark-bg-subtle)">Минулі</span>
                                    <span class="badge rounded-pill text-black" style="background-color: var(--bs-warning-bg-subtle)">Запущені</span>
                                    <span class="badge rounded-pill text-black" style="background-color: var(--bs-primary-bg-subtle)">Майбутні</span>
                                    <div id="visualization" class="mt-3"></div>
                                </div>
                            </div>
                            <h5 class="mb-3 mt-5">Запустити Парсер</h5>
                            <div class="card card-body">
                                <form action="" class="mt-3">
                                    <label for="accountSelect" class="form-label">Аккаутнти</label>
                                    <select class="selectpicker"
                                            data-width="100%"
                                            data-live-search="true"
                                            multiple data-actions-box="true"
                                            id="accountSelect">
                                        {% for account in available_accounts %}
                                            <option class="border-bottom border-dark-subtle"
                                                    {% if account.in_use %}
                                                    disabled
                                                    style="background: rgba(148,144,144,0.75); color: #fff; cursor: not-allowed !important;"
                                                    {% endif %}
                                            >{{ account.username }}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="form-group mt-3">
                                        <label for="parserRunDateTime" class="form-label">Дата та час запуску:</label>
                                        <input class="form-control" id="parserRunDateTime">
                                    </div>
                                    <div class="form-group mt-3">
                                        <!--  TODO add selects -->
                                        <label for="workerSelect" class="form-label">Воркер</label>
                                        <select id="workerSelect" class="selectpicker" data-width="100%">
                                            <option selected class="border-bottom border-dark-subtle">
                                                Автоматично
                                            </option>
                                        <option class="border-bottom border-dark-subtle">
                                            Worker 1
                                        </option>
                                        <option class="border-bottom border-dark-subtle">
                                            Worker 2
                                        </option>
                                        <option class="border-bottom border-dark-subtle">
                                            Worker 3
                                        </option>
                                        <option class="border-bottom border-dark-subtle">
                                            Worker 4
                                        </option>
                                    </select>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!-- Tab Pane 2 -->
                        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab"
                             tabindex="0">
                            <div class="row">
                                <div class="col-lg-7 col-md-12 col-sm-12 ">
                                    <h4 class="mb-1">Accounts</h4>
                                    <hr>
                                    <div class="hstack gap-3">
                                        <input class="form-control me-auto" id="myInput" onkeyup="searchTable()"
                                               placeholder="Search for names.." title="Type in a name">
                                    </div>
                                    <div id="instagram_account_list"
                                         hx-get="/instagram-accounts/"
                                         hx-trigger="load"
                                         hx-target="this"
                                         style="max-height: 300px; overflow-y:scroll; overflow-x:scroll;"
                                    >
                                    </div>
                                    <div class="mt-4">
                                        <p>
                                            <button class="btn btn-outline-success" type="button"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#AddAccount"
                                                    aria-expanded="false" aria-controls="AddAccount">
                                                Створити Аккаунт
                                            </button>
                                        </p>
                                        <div class="collapse" id="AddAccount"
                                             hx-get="/instagram-accounts/add-account/"
                                             hx-trigger="load"
                                             hx-swap="innerHTML"
                                        >
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-12 col-sm-12 ">
                                    <h4 class="mb-1">Stats</h4>
                                    <hr>
                                    <div style="height: 100%">
                                        <div id="accountNoRes" class="d-none">
                                            <h4>Нема результатів</h4>
                                        </div>
                                        <canvas id="accountStatsChart" data-pk="{{ account_id }}"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Tab Pane 3 -->
                        <div class="tab-pane fade" id="email-tab-pane" role="tabpanel" aria-labelledby="email-tab"
                             tabindex="0">
                            <form action="#!">
                                <fieldset class="row gy-3 gy-md-0">
                                    <legend class="col-form-label col-12 col-md-3 col-xl-2">Email Alerts</legend>
                                    <div class="col-12 col-md-9 col-xl-10">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="emailChange">
                                            <label class="form-check-label" for="emailChange">
                                                Email Changed
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="passwordChange">
                                            <label class="form-check-label" for="passwordChange">
                                                Password Changed
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="weeklyNewsletter">
                                            <label class="form-check-label" for="weeklyNewsletter">
                                                Weekly Newsletter
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="productPromotions">
                                            <label class="form-check-label" for="productPromotions">
                                                Product Promotions
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="row">
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary mt-4">Save Changes</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!-- Tab Pane 4 -->
                        <div class="tab-pane fade" id="password-tab-pane" role="tabpanel" aria-labelledby="password-tab"
                             tabindex="0">
                            <form action="#!">
                                <div class="row gy-3 gy-xxl-4">
                                    <div class="col-12">
                                        <label for="currentPassword" class="form-label">Current Password</label>
                                        <input type="password" class="form-control" id="currentPassword">
                                    </div>
                                    <div class="col-12">
                                        <label for="newPassword" class="form-label">New Password</label>
                                        <input type="password" class="form-control" id="newPassword">
                                    </div>
                                    <div class="col-12">
                                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                                        <input type="password" class="form-control" id="confirmPassword">
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary">Change Password</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            </div>
            <div class="modal-body" id="modelBody">

            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'js/timeline.js' %}"></script>


{% include 'toasts.html' %}
<script src="{% static 'js/index.js' %}"></script>
<script src="{% static 'toasts.js' %}"></script>
<script src="{% static 'js/barChart.js' %}"></script>
</body>
</html>
